* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* html {
    font-size: 62,5%;
} */

section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 450px;
    height: 600px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 25px #354fd0;
    flex-direction: column;
}

.card img {
    box-shadow: 0px 0px 10px rgb(53, 208, 18);
    width: 50%;
    border-radius: 50%;
    object-fit: scale-down;
    justify-items: center;
    margin-top: 50px;
}

.card p {
    text-align: center;
}

.card p:nth-child(3) {
    color: grey;
    font-size: 22px;
}
.card .name {
    margin-top: 80px;
    font-weight: 600;
    font-size: 30px;
    color: #e02fff;
}

#botton {
    color: #ffffff;
    font-size: 30px;
    width: 100%;
    align-items: end;
    background-color: blue;
    text-align: center;
    padding-top: 40px;
    height: auto;
}